body {
    background: #8B7565;
}
/*Caixa de Curiosidades*/
.Curiosidades{
    height: 650px;

}
.Curiosidades #Imgs {
    display: inline-block;
    position: absolute;
    width: 336px;
    height: 224px;
    left: 106px;
    top: 449px;
}

.Curiosidades p{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 25px;
    text-align: center;

}
.Imagem-1 p{
    position: absolute;
    width: 336px;
    height: 352px;
    left: 106px;
    top: 673px;
    background: #c4c4c4;
    padding: 10px 5px;
    border: 1px solid #000000;
    box-sizing: border-box;

}
.Imagem-1 img{
    position: absolute;
    width: 336px;
    height: 224px;
    left: 106px;
    top: 449px;
    border: 2px solid #000000;
    box-sizing: border-box;

}
.Imagem-2 p{
    position: absolute;
    width: 336px;
    height: 352px;
    left: 553px;
    top: 673px;
    background: #c4c4c4;
    padding: 10px 5px;
    border: 1px solid #000000;
    box-sizing: border-box;
}
.Imagem-2 img{
    position: absolute;
    width: 336px;
    height: 224px;
    left: 552px;
    top: 449px;
    border: 2px solid #000000;
    box-sizing: border-box;
}
.Imagem-3 p{
    position: absolute;
    width: 336px;
    height: 352px;
    left: 998px;
    top: 673px;
    background: #c4c4c4;
    padding: 10px 5px;
    border: 1px solid #000000;
    box-sizing: border-box;
    
}
.Imagem-3 img{
    position: absolute;
    width: 336px;
    height: 224px;
    left: 998px;
    top: 449px;
    border: 2px solid #000000;
    box-sizing: border-box;
}
/*M-V-V*/
.M-V-V{
    position: absolute;
    width: 1352px;
    height: 336px;
    left: 44px;
    top: 1139px;
    background: #532613;
}
.M-V-V h2{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 38px;
    color: #FFFFFF;
    text-align: center;
}
.M-V-V p{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-align: center;

    color: #FFFFFF;
}
.M-V-V #Missão {
    position: absolute;
    width: 369px;
    height: 150px;
    left: 50px;
    top: 60px;

}
.M-V-V #Visão {
    position: absolute;
    width: 408px;
    height: 152px;
    left: 487px;
    top: 60px;
    
}
.M-V-V #Valores {
    position: absolute;
    width: 365px;
    height: 90px;
    left: 958px;
    top: 60px;
    
}